@import '../variables.scss';
.beneficios {
  padding: 4rem 2rem;
  background-color: $color-darker;

  .beneficios_intro {
    margin-bottom: 3rem;

    h2 {
      font-size: 50px;
      margin-bottom: 1rem;
      text-align: center; // H2 centrado
      color: $color-accent;
      font-family: $font-titulo;
    }

    p {
      font-size: 30px;
      color: #d9d9d9;
      max-width: 700px;
      margin: 0;         // quitamos auto
      text-align: left;  
      font-family: $font-texto;// P alineado a la izquierda
    }
  }

  .beneficios_grid {
    display: flex;
    justify-content: space-between;
    gap: 1rem;

    .beneficio {
      flex: 1;
      background-color: #fff;
      padding: 2rem 1rem;
      border-radius: 10px;
      box-shadow: 0 4px 10px rgba(0,0,0,0.1);
      text-align: center;
      margin: 0 0.5rem;

      img {
        display: block;        // clave
        margin: 0 auto 1rem;   // centra horizontalmente
        width: 80px;
        height: 80px;
      }

      h3 {
        font-size: 36px;
        margin-bottom: 0.5rem;
        color: #fffdfd;
        font-family: $font-texto;
      }

      p {
        font-size: 26px;
        color: #f1e2e2;
        font-family: $font-texto;
      }
    }

    #karate{
        background-color: #dc2626;
    }

    #Participación{
        background-color: #d4af37;
    }
    
    #Desarrollo{
        background-color: #059669;
    }

    #Senseis{
        background-color: $color-dark;
    }
  }
}
.porque {
  padding: 4rem 2rem;
  background-color: #ff0c0c;
  border-radius: 30px;

  .porque_intro {
    margin-bottom: 3rem;

    h2 {
      font-size: 45px;
      text-align: center; // H2 centrado
      margin-bottom: 1rem;
      color: #fdf8f8;
      font-family: $font-texto;
      text-transform: uppercase;
    }

    p {
      font-size: 30px;
       width: 100vw;  
      color: white;
      margin: 0;
      font-family: $font-texto;         // sin centrado automático
    }
  }

  .porque_grid {
    display: flex;
    justify-content: space-between; // los 3 divs uno al lado del otro
    gap: 1rem;

    .razon {
      flex: 1;
      padding: 2rem 1rem;
      border-radius: 10px;
      box-shadow: 0 4px 10px rgba(0,0,0,0.1);
      text-align: center;

      h3 {
        font-size: 30px;
        margin-bottom: 0.5rem;
        color: #ffbb01;
        font-family: $font-texto;

      }

      p {
        font-size: 25px;
        color: white;
        font-family: $font-texto;

      }
    }
  }
}