@import '../variables.scss';
.btn {
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
}
.registro {
    background-color: #0E6A08;
    color: #04ff19;
    font-family: $font-titulo;
    font-size: 1rem;
    &:hover {
        background-color: darken(#0E6A08, 10%);
    }
}


.iniciar_sesion {
    background-color: transparent;
    color: #ff0404;
    border: 5px solid #ff0808;
    font-family: $font-titulo;
    font-size: 1rem;
    &:hover {
        background-color: #ff0808;
        color: $color-white;
        border: none;
    }
}

.conocenos {
    @extend .btn;
    background-color: transparent;
    font-size: 26px;
    font-family: $font-ui;
    color: $color-white;
    border: 5px solid $color-white;

    &:hover {
        background-color: $color-white;
        color: $color-black;
    }
}

.ver_clases {
    @extend .btn;
    background-color: #FF0419;
    color: white;
    font-size: 26px;
    font-family: $font-ui;
    color: white;

    &:hover {
        background-color: darken(#FF0419, 10%);
    }
}

#btn_conocenos{
    @extend .btn;
    background: $color-accent;
    font-family: $font-ui;
    font-size: 36px;
    color: #956e0e;
}

.inicio{
    @extend .btn;
    background-color: transparent;
    color: $color-white;
    border: 5px solid white;
    font-family: $font-titulo;
    font-size: 36px;

    &:hover {
        background-color: $color-white;
        color: $color-black;
    }
}

.historia {
    @extend .btn;
    background-color: #fb1010;
    color: white;
    font-family: $font-ui;
    font-size: 26px;

    &:hover {
        background-color: darken($color: #fb1010, $amount: 10%)
    }
}

.noticias {
    @extend .btn;
    background-color: #2E2E2E;
    color: white;
    font-family: $font-ui;
    font-size: 26px;

    &:hover {
        background-color: darken($color: #2E2E2E, $amount: 10%)
    }
}