@import '../variables.scss';
.btn {
    padding: 0.7rem 1.8rem;
    border-radius: 30px;
    border: none;
    font-family: $font-ui;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn--registro {
    background-color: #0E6A08;
    color: #04ff19;

    &:hover {
        background-color: darken(#0E6A08, 10%);
    }
}

.btn--inicio {
    background-color: transparent;
    color: #ff0404;
    border: 5px solid #ff0808;

    &:hover {
        background-color: #ff0808;
        color: $color-white;
    }
}

.conocenos {
    @extend .btn;
    background-color: transparent;
    font-size: 26px;
    font-family: $font-ui;
    color: $color-white;
    border: 5px solid $color-white;

    &:hover {
        background-color: $color-white;
        color: $color-black;
    }
}

.ver_clases {
    @extend .btn;
    background-color: #FF0419;
    color: white;
    font-size: 26px;
    font-family: $font-ui;
    color: white;

    &:hover {
        background-color: darken(#FF0419, 10%);
    }
}

#btn_conocenos{
    @extend .btn;
    background: $color-accent;
    font-family: $font-ui;
    font-size: 36px;
    color: #956e0e;
}