@import '../variables.scss';

.hero {
  width: 100%;
  height: 600px;
  background: url("../../Imagenes/Inicio/Principal.jpeg") center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;  
  padding: 1rem;

  .hero_content {
    max-width: 800px;
    h1 {
      font-family: $font-titulo;
      font-size: 60px;
      color: #800000;
    }
    p {
      font-family: $font-ui;
      font-size: 30px;
      color: white;
    }
    .hero_buttons {
      display: flex;
      justify-content: center;
      gap: 1rem;
    }
  }
}
