/* Error: Undefined variable.
 *   ,
 * 5 |     background-color: v.$negro-fondo;
 *   |                       ^^^^^^^^^^^^^^
 *   '
 *   ..\header.scss 5:23  @use
 *   inicio.scss 1:1      root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a   \2577 \a 5 \2502      background-color: v.$negro-fondo;\d\a   \2502                        ^^^^^^^^^^^^^^\a   \2575 \a   ..\\header.scss 5:23  @use\a   inicio.scss 1:1      root stylesheet";
}
