.nav_especial {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: $color-darker;

  .nav_izq{
    display: flex;

    img{
      width: 182.97px;
      height: 134px;
      margin-right: 1rem;
      border: 3px solid #9d5d10;
      border-radius: 17px;
    }

    .nav_text{
      display: flex;
      flex-direction: column;

      h1{
        margin: 0;
        font-family: $font-titulo;
        font-size: 1.5rem;
        text-transform: uppercase;
        color: #fff5f5;
      }

      p{
        margin: 0;
        font-family: $font-ui;
        font-size: 1rem;
        color: $color-accent;
      }
    }
  }
}