@import '../variables.scss';
/* ============================= */
/* NUESTRA HISTORIA + NOTICIAS   */
/* ============================= */

.historia_container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 5rem 2rem;

  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 4rem;
}

/* ============================= */
/* BLOQUE PRINCIPAL HISTORIA     */
/* ============================= */

.historia_principal {

  h2 {
    font-family: $font-titulo;
    font-size: 60px;
    color: $color-accent;
    margin-bottom: 1.5rem;
  }

  p {
    font-family: $font-texto;
    font-size: 30px;
    line-height: 1.7;
    margin-bottom: 2.5rem;
  }
}

/* ============================= */
/* BLOQUE NOTICIAS               */
/* ============================= */

.historia_noticias {
  background-color: #d9d9d9;
  padding: 2.5rem;
  border-radius: 12px;
  border-left: 20px solid $color-accent;

  h3 {
    font-family: $font-titulo;
    font-size: 40px;
    color: $color-accent;
    margin-bottom: 1rem;
  }

  .lista_noticias {
    list-style: none;
    margin-bottom: 2rem;

    li {
      padding: 1rem 0;
      border-bottom: 1px solid rgba(0, 0, 0, 0.25);

      &:last-child {
        border-bottom: none;
      }

      .fecha {
        display: block;
        font-size: 0.75rem;
        color: #4b4949;
        margin-bottom: 0.3rem;
        letter-spacing: 1px;
        text-transform: uppercase;
      }

      p {
        margin: 0;
        font-size: 0.95rem;
        color: black;
      }
    }
  }

  .btn {
    width: 100%;
    text-align: center;
  }
}
