.latest-news-section {
  padding: 20px;
  text-align: center;
  font-family:'Kaushan Script', cursive;;
}

.latest-news-title {
  font-family: 'Kaushan Script', cursive; /* Título en cursiva dorada */
  color: gold;
  font-size: 2.5em;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.news-title-icon {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.latest-news-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  justify-items: center;
  margin-bottom: 40px;
}

@media (min-width: 768px) {
  .latest-news-grid {
    grid-template-columns: 1fr 1fr;
  }
}

.news-card {
  background-color: #f0f0f0; /* Fondo gris claro */
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 450px; /* Ancho máximo para las tarjetas */
  display: flex;
  flex-direction: column;
}

.news-card-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.news-card-content {
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}

.news-card-title {
  font-family: 'Kaushan Script', cursive; /* Título en cursiva dorada */
  color: gold;
  font-size: 1.8em;
  margin-bottom: 15px;
  text-align: center;
}

.read-more-button {
  background-color: #dc3545; /* Rojo */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.read-more-button:hover {
  background-color: #c82333;
}

.view-all-button {
  background-color: #dc3545; /* Rojo */
  color: white;
  border: none;
  padding: 15px 30px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2em;
  transition: background-color 0.3s ease;
  margin-top: 20px;
  text-decoration: none;
}

.view-all-button:hover {
  background-color: #c82333;
}

.latest-news-container.error {
  color: red;
  font-weight: bold;
}
