/* Footer general */
.footer {
  width: 100%;
  background-color: #2E2E2E;
  color: white;
  padding: 24px 32px;
  box-sizing: border-box;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  flex-wrap: wrap; /* Permite que se ajusten en móvil */
}

.footer-box {
  flex: 1 1 200px;
  padding: 16px;
}

/* Sección 1 específica */
.footer-logo-section {
  background-color: transparent;
  text-align: left;
}

.logo-text {
  display: flex;
  align-items: flex-start;
  gap: 12px;
}

.footer-logo {
  height: 60px;
}

.textos h4 {
  margin: 0;
  font-family: 'Outfit', sans-serif;
  font-size: 20px;
}

.textos .katashi {
  display: block; /* Hace que "Katashi" vaya a otra línea */
  font-size: 22px;
  color: #b8860b;
}

p, li{
  margin-top: 8px;
  font-size: 14px;
  color: #ccc;
}

/* Sección 2 específica */
.footer-links {
  list-style: none;
  padding: 0;
  margin: 8px 0 0 0;
}

.footer-links li {
  margin-bottom: 6px;

}

.footer-links li a {
  text-decoration: none;
  color: #ccc;
}

.footer-links li a:hover {
  color: #f39c12;
}

/*Seccion 4*/
/* Redes sociales */
.social-icons {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.social-icons img {
  width: 32px;
  height: 32px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.social-icons img:hover {
  transform: scale(1.1);
}

.social-text {
  font-size: 14px;
  color: #ccc;
  margin-bottom: 12px;
}

/* Mini formulario */
.newsletter-form {
  display: flex;
  width: 100%;
  max-width: 320px;
}

.newsletter-form input {
  flex: 1;
  height: 42px;
  padding: 0 12px;
  border: none;
  outline: none;
}

.newsletter-form button {
  height: 42px;
  padding: 0 16px;
  background-color: #c40000; /* rojo */
  color: white;
  border: none;
  cursor: pointer;
}

.newsletter-form button:hover {
  background-color: #a00000;
}
.newsletter-form input {
  border-radius: 6px 0 0 6px;
}

.newsletter-form button {
  border-radius: 0 6px 6px 0;
}



/* Responsive */
@media (max-width: 768px) {
  .newsletter {
    flex-direction: column;
  }

  .newsletter button {
    width: 100%;
  }
}


/* Footer inferior */
.footer-bottom {
  margin-top: 24px;
  text-align: center;
  padding: 16px 0;
  font-size: 14px;
}

/* Responsive */
@media (max-width: 768px) {
  .footer-top {
    flex-direction: column;
    gap: 12px;
  }

  .footer-box {
    flex: 1 1 100%;
  }

  .logo-text {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .textos h4 {
    font-size: 18px;
  }

  .textos .katashi {
    font-size: 20px;
  }
}
