@import '../variables.scss';
@import '../header.scss';
@import 'hero.scss';
@import 'nuestra_historia.scss';
@import 'nuestroValores.scss';
@import 'equipo_instructores.scss';
@import '../footer.scss';