@import '../variables.scss';

#nuestrosValores {
  padding: 4rem 2rem;

  #nuestrosValore_intro {
    margin-bottom: 3rem;

    h2 {
      font-size: 3rem;
      margin-bottom: 1rem;
      text-align: center; // H2 centrado
      color: $color-accent;
      font-family: $font-titulo;
    }

    p {
      font-size: 1.5rem;
      color: $color-dark;
      max-width: 700px;
      margin: 0;         // quitamos auto
      text-align: left;  
      font-family: $font-texto;// P alineado a la izquierda
    }
  }

  .nuestrosValores_grid {
    display: flex;
    justify-content: space-between;
    gap: 1rem;

    .beneficio {
      flex: 1;
      background-color: #fff;
      padding: 2rem 1rem;
      border-radius: 10px;
      box-shadow: 0 4px 10px rgba(0,0,0,0.1);
      text-align: center;
      margin: 0 0.5rem;

      h3 {
        font-size: 2rem;
        margin-bottom: 0.5rem;
        color: #fffdfd;
        font-family: $font-texto;
      }

      p {
        font-size: 1rem;
        color: #f1e2e2;
        font-family: $font-texto;
      }
    }

    #karate{
        background-color: #dc2626;
    }

    #Competicion{
        background-color: #d4af37;
    }
    
    #Desarrollo{
        background-color: #059669;
    }

    #Senseis{
        background-color: $color-dark;
    }
  }
}