@import 'variables.scss';

.footer {
  background: #111;
  color: #fff;
  padding: 3rem 1.5rem 1.5rem;
}

.footer_container {
  max-width: 1300px;
  margin: 0 auto;
}

/* ===== FILA SUPERIOR ===== */
.footer_top {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

/* ===== COLUMNAS ===== */
.footer_col h4 {
  margin-bottom: 1rem;
  color: #fff9ff;
}

.footer_col p,
.footer_col li,
.footer_col a {
  font-size: 0.95rem;
  color: #8f8989;
  line-height: 1.6;
}

.footer_col ul {
  list-style: none;
  padding: 0;
}

.footer_col a {
  text-decoration: none;

  &:hover {
    color: #fff;
  }
}

/* ===== COLUMNA LOGO ===== */
.footer_brand {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer_logo {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.footer_logo img {
  width: 55px;
}

.footer_logo_text {
  display: flex;
  flex-direction: column;
  line-height: 1.1;
}

.footer_logo_text .escuela {
  font-size: 0.9rem;
  color: #fff9f9;
}

.footer_logo_text .katashi {
  font-size: 1.3rem;
  font-weight: 700;
  color: #b8860b;
}

.footer_frase {
  font-size: 0.9rem;
  color: #8f8989;
  line-height: 1.5;
  max-width: 260px;
}

//Input y botón suscripción
input{
  background: none;
  border: 1px solid #8f8989;
  color: #655e5e;
  border-radius: 20px;
}
button{
  background-color: #da2121;
  color: #fff;
  border: none;
  border-radius: 20px;
  padding: 0.5rem 1rem;
  cursor: pointer;
}


/* ===== LÍNEA ===== */
.footer_line {
  margin: 2rem 0 1.5rem;
  border: none;
  height: 1px;
  background: #333;
}
/* ===== FILA INFERIOR ===== */
.footer_bottom {
  text-align: center;
  font-size: 0.85rem;
  color: #aaa;
}

/* ================= RESPONSIVE ================= */
@media (max-width: 900px) {
  .footer_top {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .footer_top {
    grid-template-columns: 1fr;
  }

  .footer_frase {
    max-width: 100%;
  }
}
