@import 'variables.scss';

#header {
    width: 100%;
    background-color: #2e2e2e;

    #header_container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 1.2rem 2rem;
        display: flex;
        justify-content: space-between;
    }

    #header_logo img {
        height: 50px;
    }

    .header_nav {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  #header_list {
    display: flex;
    gap: 1.5rem;
    li a {
      font-size: 0.9rem;
      transition: color 0.3s;
      color: #B8860B;

      &:hover {
        color: #B8860B;
      }
    }
  }

   #header_buttons {
    display: flex;
    gap: 1rem;
  }
}