@import 'variables.scss';
@import 'inicio/botones.scss';
#header {
    width: 100%;
    background-color: #2e2e2e;

    #header_container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 1.2rem 2rem;
        display: flex;
        justify-content: space-between;
    }

    #header_logo img {
        height: 50px;
    }

    .header_nav {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  #header_list {
    display: flex;
    gap: 1.5rem;
    li a {
      font-family: $font-titulo;
      font-size: 2rem;
      transition: color 0.3s;
      color: #B8860B;

      &:hover {
        color: #B8860B;
      }
    }
  }

   #header_buttons {
    display: flex;
    gap: 1rem;
  }
}

.header_burger {
  display: none; /* por defecto oculto en desktop */
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 22px;
  cursor: pointer;

  span {
    display: block;
    height: 4px;
    background-color: white;
    border-radius: 2px;
  }
}
