/* ============================= */
/* VARIABLES                     */
/* ============================= */

$font-titulo: 'Kaushan Script';
$font-texto: 'Outfit';
$font-ui: 'Inter';

// Breakpoints
$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1024px;

/* ============================= */
/* RESET + BASE                  */
/* ============================= */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  font-family: $font-texto;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}
