// Colores principales
$bg-header: #212121;
$bg-body: #1a1a1a;
$color-gold: #c5a059;
$color-white: #ffffff;
$color-red: #ff0000;
$color-green: #008000;

// Fuentes
$font-cursive: 'Kaushan Script', cursive;
$font-main: 'Outfit', sans-serif;